.well{
    display: flex;
    flex-direction: row;   
}

.options{
    margin-right: 1rem;
}

.flex{
    margin-left: 2rem;
}

h2{
    text-align: center;
}

.btn-secondary{
    width: 100%;
    margin-bottom: 2rem;
}

